.reveal h1 {
  color: #cb4b16;
}

.reveal h2 {
  color: #859900;
}

.reveal section img {
  border: none;
  box-shadow: none;
}

.reveal .thanks {
  color: #268bd2;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -60%);
}

.reveal .fragment.pull-down {
  position: absolute;
  bottom: 0;
}
